name: Build and Publish

on:
  create:
    tags:
      - '*'
  push:
    tags:
      - '*'
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  NETCORE_VERSION: '3.1.x'
  GITHUB_REPOSITORY_OWNER: 'gmarokov'
  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.NETCORE_VERSION }}

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Pack
      run: dotnet pack --configuration Release --no-restore --output artifacts
    
    - name: Add NuGet sources
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/tags/*'
      run: |
        dotnet nuget add source https://nuget.pkg.github.com/${{ env.GITHUB_REPOSITORY_OWNER }}/index.json --name github

    - name: NuGet push on GitHub
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/tags/*'
      run: dotnet nuget push "**/*.nupkg" --source github --api-key ${{ secrets.GH_PAT }} --skip-duplicate
    
    - name: NuGet push on NuGet
      if: github.ref == 'refs/tags/*'
      run: dotnet nuget push "**/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: artifacts/*
